<% if spree_current_user.has_spree_role?("admin") || spree_current_user.has_spree_role?("Ambassador service") %>
<%= form_tag excelimport_admin_promoters_path, method: "post", multipart: true do %>
  <p>
  Import promoters excel file:<br>
  <%= file_field_tag "file" %>
  </p>
  <div>
    <%= submit_tag "import" %>
  </div>
<% end %>
<% end %>
