<tr>
  <td style="padding: 30px;">
    <p class="lede">
      <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
    </p>
    <p>
      <%= Spree.t('order_mailer.confirm_reg_email.instructions') %>
    </p>
    <p>
      <%= Spree.t('order_mailer.confirm_reg_email.thanks') %>
    </p>
  </td>
  <td class="expander"></td>
</tr>
