<link rel="stylesheet" href="/assets/faq_about.css.scss">
<link rel="stylesheet" href="/assets/faq.css">
<div id="about_pages">
  <div class="container page">
    <div class="main-content col-md-9 col-sm-9">
      <h1 class="title">Frequently Asked Questions (F.A.Q.)</h1>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line">Is SnapFit safe?</span>
          <div class="down-icon"></div>
        </h2>
        <p>Yes, SnapFit is 100% natural and healthy to consume. SnapFit is made with fiber from a variety of nutrient-rich vegetables and plants and has been produced in an FDA certified facility. SnapFit is also non-GMO, natural, gluten-free, vegan, and kosher.</p>
      </div>
      <script>
        $(document).ready(function() {
          $('.bg-line').on('click', function() {
            $(this).parent('.unit').toggleClass('closed');
          });
        });
      </script>
    </div>
  </div>
</div>