#label
  // box-sizing: border-box
  float: left
  width: 66mm
  height: 97mm
  margin: 5.5mm 0 0 5mm
  background: #fff
  font-size: 2mm
  .print
    width: 50mm
    margin: 5mm auto
  .func
    font-size: 0
    img
      width: 9mm
      margin-right: 4mm
    .detail
      margin: 2mm 0 1mm 0mm
      font-size: 1.5mm
      font-family: arial
      color: #757679
    .lot
      font-weight: bold
      margin: 0 1mm 0 0
      font-size: 1.5mm
      font-family: arial
      color: #757679
      text-align: right
  .box
    display: inline-block
    border: .5px solid
    padding: 1px
    table
      table-layout: fixed
      width: 48mm
      // font-size: 9px
      border-collapse: collapse
      color: #000
      .sub
        line-height: 1.2
      caption
        padding: 0
        text-align: left
        .title
          line-height: 1.1
          font-size: 5mm
          font-weight: 700
          font-family: "Arial-Bold"
          letter-spacing: 1.8px
      td
        border-top: 1px solid #888
      th
        text-align: center
      thead
        border-top: 1.9mm solid
        border-bottom: 0.9mm solid
        font-size: 1.5mm
      tbody
        .total
          position: relative
          padding-left: 2mm
          &:before
            position: absolute
            left: 0
            top: -1px
            width: 2mm
            height: 1px
            background: #fff
            content: ""
        .memo
          font-size: 1.5mm
      .basic
        td:last-child
          text-align: right
      .super
        border-top: 1.5mm solid
        border-bottom: 1.5mm solid
        td:last-child
          text-align: right
  .ingredients
    font-size: 7px
    line-height: 1.1
    .title
      font-weight: 700

@media print
  #progress,
  .header,
  #main-sidebar,
  .button
    display: none
  body
    margin: 0 0

@page
  size: A5 potrait
  margin: 0 0 5mm
