<div style="text-align: right; padding-right: 10px;">
  <%= link_to spree.root_url do %>
    <%= image_tag "https://coolchoice.com/slick/logo3.png", alt: Spree::Store.current.name, title: Spree::Store.current.name %>
  <% end %>
</div>
