<div style="text-align: right; margin-bottom: 20px;">
  <%= link_to spree.root_url do %>
    <%= image_tag Spree::Config.logo, alt: Spree::Store.current.name, title: Spree::Store.current.name %>
  <% end %>
</div>
