<div id="coolchoice-header" style="border-bottom: 1px solid #dedede; height: 80px">
  <header id="header" style="height: 100%" data-hook>
    <div class="container"  style="height: 100%">
      <div class="row" style="height: 100%">
      <a href="/" style="float: left; height:100%"><span style="height: 100%; vertical-align:middle; display: inline-block"></span><img src='/assets/logo/logo@2x.png' style='width: 141px; height: 49px'/></a>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
</div>

<% if false %>
<header id="header">
  <div class="container">
    <a href="/" class="logo">
      <img src="/assets/home/logo@2x.png">
    </a>
    <nav class="nav">
      <a href="/gift"><%= Spree.t(:"header.gift") %></a>
      <a href="/ingredient"><%= Spree.t(:"header.ingredient") %></a>
      <a href="/about"><%= Spree.t(:"header.about") %></a>
      <a href="/login">
        <img src="/assets/home/icon-avatar@2x.png" class="avatar">
      </a>
      <a href="/cart">
        <img src="/assets/home/button-cart@2x.png" class="cart">
      </a>
    </nav>
  </div>
</header>
<% end %>
