<% unless request.path.start_with?("/zh-CN/china") %>

<header id="coolchoice-header" data-hook onclick=";">
  <div class="container" style="height: 100%">
    <!-- <div class="row" style="height: 100%"> -->
    <a href="<%= spree.root_path %>" class="logo">
      <span style="height: 100%; vertical-align: middle; display: inline-block"></span>
      <%= image_tag 'logo/logo@2x.png' %>
    </a>
    <%= render :partial => 'spree/shared/nav_bar' %>
    <!-- </div> -->
  </div>
</header>
<% end %>
