<div id="main-nav-bar" class="navbar" style="float: right; height: 100%"><span style="display: inline-block; vertical-align:middle;height:100%"></span><ul class="nav navbar-nav navbar-right" style="float:none !important;display: inline-block; vertical-align: middle" data-hook>
    </ul>
  </div>
